
code, pre {
    font-family: 'Fira Code Variable', monospace;
    font-variant-ligatures: none;
}

.monaco-editor .iPadShowKeyboard {
    display: none;
} 

.peekview-title > .filename {
    display: none;
}

.peekview-widget .message > div {
    font-weight: bold;
}

.peekview-actions li:has(.codicon-marker-navigation-next, .codicon-marker-navigation-previous) {
    display: none;
}
